@import "variable.scss";

// header
.header{
  background-color: $layout;
  height: 108px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-left: 39px;
  padding-right: 39px;
  img{
    height: 48px;
    width: 80px;
    margin-top: 30px;
  }
  ul li{
    margin-left: 40px;
  }
  .menu{
    display: flex;
    align-items: center;
  }
  a{
    color: $white;
  }  
}

// footer
.footer{
  background-color: $layout;
  height: 400px;
  display: flex;
  justify-content: space-between;
  .footerNav{
    align-items: center;
    .menu a{
      font-size: 16px;
      color: $white;
    }
    .icon a{
      font-size: 48px;
      color: $white;
    }
  }
  .link{
    color: $white;
    font-size: 36px;
    border-bottom-style: bold;
    border-bottom-color: $white;
  }
  .callMe{
    border-bottom-style: solid;
  }
  .Copyright {
    font-size: 16px;
  }
}

@media (max-width:768px){
  .header{
    background-color: $layout;
    padding-left: 39px;
    padding-right: 40px;
    padding-bottom: 29.43px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    .menu{
      align-items: center;
      margin-bottom: -10px;
    }
  }

  .footer{
    height: 241px;
    .container{
      max-width: 700px;
      .footerNav{
        a{
          width: 32px;
        }
        .icon i{
          font-size: 24px;
          align-items: flex-start;
        }
      }
      .link{
        font-size: 20px;

        .callMe i{
          font-size: 18px;
        }
      }
    }
  }
}


