@import "layout.scss";
@import "base.scss";
@import "variable.scss";

// 看得清，才能看得遠
.banner {
	background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
	background-repeat: no-repeat;
	background-size: cover;
	height: 840px;
  .words{
    text-align: right;
    position: relative;
    top: 41%;
    right: 22%;
    color:$primary;
    line-height: 72px;
  }
  p{
    font-size: 36px;
  }
  h1{
    font-size: 64px;
    font-weight: 900;
  }
}

// 用專業的心，做專業的事
.profession{
  text-align: center;
	background-color: $secondary;
  h2{
    color:$primary;
    font-weight: bold;
  }
  li{
    display: inline-block;
    img{
      margin-bottom: 24.08px;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      color:$primary;
    }
    p{
      font-size: 16px;
      color: $black;
      width: 255px;
      text-align: left;
      line-height: 25px;
    }
  }
}

// 經典系列鏡框
.class{
	margin-bottom: 80px;
  h2{
    color: #650300;
    margin-bottom: 40px;
  }
  li{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pic{
    height: 320px;
    width: 635px;
    margin-bottom: 32px;
  }
  .icon{
    height: 44px;
  }
  p{
    color: #AA0601;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}
// 聯名設計鏡框
.co-branding{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 705px;
  h2{
    color: $white;
  } 
  .both{
    display: flex;
    margin-top: 40px;
    p{
      position: absolute;
      color: $layout;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 72px;
      margin-left: 60px;
      margin-top: 160px;
    }
  }
  .box:hover{
    filter: grayscale(1); 
    z-index: 10;
  }
}

// 顧客推薦
.card-group{
  height: 460px;
  .card{
    margin: 15px;
    position: relative;
    .card-title{
      font-size: 14px;
    }
    .text-muted{
      position: absolute;
      bottom: 0;
      font-size: 14px;
      margin-bottom: 16px;
    }
    .card-title{
      font-size: 14px;
      font-weight: 600;
    }
    .card-text1{
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.contact{
	background-color: $secondary;
  height: 780px;
  .container{
    width: 730px;
  }
  p{
    font-size: 20px;
  }
  .has-feedback{
    min-height: 136px;
  }
  .btn{
    width: 350px;
    background-color: $layout;
    color: $white;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .btn:hover{
    background-color:  $black;
  }
}





/* RWD */
@media (max-width:768px){
	/* for all */
	h2{
		font-size: 32px;
	}
	span{
		font-size: 32px;
	}
}

	/* header */
.header{
	padding-left: 39px;
	padding-right: 39px;
   ul li{
     margin-left: 40px;
   }
}

/* banner */
.banner{
	height: 840px;
	background-position:center;
	background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
	background-repeat:no-repeat;
  .words{
    text-align: right;
    position: relative;
    top: 35%;
    right: 22%;
    color:#650300;
    line-height: 49.5px;
  }
  p{
    font-size: 20px;
  }
  h1{
    font-size: 48px;
    font-weight: 900;
  }
}

 
/* profession */
.profession{
	padding-bottom: 56px;
  img{
    margin-top: 40.33px;
    height: 83.83px;
  }
}



